
body {
  background-color: #000;
  font-family: 'Courier New', monospace;
  font-size: 16pt;
  margin: 0.618em 0 0 0;
  padding: 0;
}

body, a {
  color: #aaa;
  text-decoration: none;
}

body a:hover {
  color: #a00;
}

ul,li {
  padding: 0;
  margin: 0;
}
ul li {
  list-style-type: none;
}

#layout-header {
  font-size: 1.618em;
}

#layout-footer {
  font-size: 0.618em;
}

#layout-footer div{
  margin-bottom: 0.618em;
}

#layout-content {
  margin: 1.618em 0 1.618em 0;
  display: table;
  width: 100%;
}

#layout-nav, #layout-present {
  display: table-cell;
  vertical-align: text-top;
}

#layout-nav {
  width: 7em;
}

#layout-present {
  border-left: 1px solid #aaa;
  padding-left: 0.618em;
}

#layout-present-heading {
  padding: 0;
  margin: 0;
}

#layout-present-content {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.section-contents li span{
  display: block;
  padding-left: 1.618em;
  font-size: 0.618em;
}

.error {
  color: #f00;
}

@media screen and (max-width: 600px) {
  #layout-nav, #layout-present {
    display: block;
    width: 100%;
  }

  #layout-nav {
    margin-bottom: 1.618em;
  }

  #layout-content {
    display: block;
  }
}